<a href="https://colab.research.google.com/github/HasanBALKANCI/Python/blob/main/lambda_17_March_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 17 March 2022, Lesson by Joseph 
## lambda function 
  * function that is used only one.
  * degiskene atarsak sonra kullanilabilir.
  * Note that you cant use the usual conditional statement with lambda definition.
  * How to use lambda

In [1]:
def square(x):
  return x**2

In [3]:
print((lambda x: x**2)(2)) # lambda nin 1 inci kullanimi,

4

In [4]:
(lambda x: "odd" if x % 2 else "even")(4) # 1

'even'

In [5]:
print((lambda x, y: (x+y)/2)(3,5)) # this is second using

4.0

In [7]:
print((lambda x : x[::-1])("Hasan")) # this make the string revers.

nasaH

In [8]:
print((lambda x : x[::-1])([1, 2, 3, 4]))

[4, 3, 2, 1]

In [20]:
sayilar = [1, 2, 3, 4, 5, 6]

for i in sayilar:
  print(i, ":", (lambda x: "odd" if x % 2 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even

In [28]:
iterable = "Clarusway"
reverser = (lambda x : x[::-1])
reverser(iterable)

'yawsuralC'

In [29]:
finder = lambda x: "odd" if x % 2 else "even"
finder(2)

'even'

# map() ile lambda nin kullanimi
* **map(function, iterable)**
* list,tubele etc
*

In [31]:
kelimeler = ["alideliveli", "ahmet", "sel"]
uzunluk = map(len, kelimeler)
print(list(uzunluk))

[11, 5, 3]

In [33]:
kelimeler = ["alideliveli", "ahmet", "sel"]
uzunluk = map(len, kelimeler)
print(*uzunluk)

11 5 3

In [36]:
fonksiyonum = lambda x : x**2
iterable = [1, 2, 3, 4]

sonuc = map(fonksiyonum, iterable)
print(*sonuc)

1 4 9 16

In [37]:
sonuc_1 = print(list(map(lambda x : x**2, [1, 2, 3, 4])))

[1, 4, 9, 16]

In [40]:
iterable = [1, 2, 3, 4, 5]
def fonksiyonum (x):
  return x**2
result = map(fonksiyonum, iterable)
print(*result)
print(tuple(result)) # tek atimlik, yeniden doldurmak gerekir.

1 4 9 16 25
()

In [42]:
topla = lambda x, y, z : x + y + z

topla("A","W","S")

'AWS'

In [43]:
nums1 = [9,6,7,4]
nums2 = [3,6,5,8]
print(list(map(lambda x,y : (x+y)/2 , nums1, nums2)))

[6.0, 6.0, 6.0, 6.0]

In [54]:
words1 = ["you", "much", "hard"]
words2= ["i", "you", "he"]
words3 = ["love", "ate", "works"]
sentence = list(map(lambda a ,b, c : a + " "  + " " + b + " " + c , words2,words3,words1))

for i in sentence:
  print(i,".")

i  love you .
you  ate much .
he  works hard .

filter()
* filter(function, iterable)
* function return True or False . It must be boolen.

In [61]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
old = list(filter(lambda x :  x % 2 , first_ten))
print("OLD NUMBER: ", old)
print("Even number:", *(filter(lambda x :  not x % 2 , first_ten)))

OLD NUMBER:  [1, 3, 5, 7, 9]
Even number: 0 2 4 6 8

In [63]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

print(list(filter(lambda x: len(x) < 5, words)))

['swim', 'me', 'kiwi']