<a href="https://colab.research.google.com/github/HasanBALKANCI/Python/blob/main/def_lambda_map_filter_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 10
def my_function_1(): 
    x = 20 
    print(x)
my_function_1()

20

In [ ]:
y = 10  
def my_function_2(): 
    global y
    y += 5 
    print(y)
my_function_2()

15

In [ ]:
def myfunc1():
  x = "hi"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2() 
  return x

print(myfunc1())

hello

In [3]:
(lambda x: x**2)(6)

36

In [2]:
(lambda x: "odd" if x % 2 else "even")(5)

'odd'

In [6]:
print((lambda x,y,z: x*y*z)(2, 3, 4))

24

In [7]:
treangle = (lambda x,y,z : x**3*y**2*z)
treangle(2, 3, 4)

288

In [13]:

echo_word = (lambda x, y : x*y)
echo_word("hello", 3)

'hellohellohello'

In [24]:
liste = [1, 2, 3, 4, 5]
print(tuple(map(lambda x: x**2, liste)))

(1, 4, 9, 16, 25)

In [25]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']

new_letter = map((lambda x, y, z: x+y+z), letter1, letter2, letter3)
print(list(new_letter))
# this finction work like "for in i letter1".

['one', 'six', 'ten', 'two']

In [35]:
liste_4 =  map((lambda x, y, z: x+y+z), letter1, letter2, letter3)
print(list(liste_4))

['one', 'six', 'ten', 'two']

In [38]:
number_list = [1, 2, 3, 4, 5]

result = list(map(lambda x : x**2, number_list))
print(result)

[1, 4, 9, 16, 25]

In [45]:
num_list = list(range(int(input())))

odd= filter(lambda x: x % 2, num_list )
even = filter(lambda x: not x%2, num_list)

print(list(odd))
print(list(even))

25
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [46]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [51]:
# how to find out how many  words are in text.
word = input().lower()
text = input().lower()
text_1 = text.split()

text_list = filter(lambda x: True if x in word else False, text_1)
print(len(list(text_list)))

erdem
erdem aksam eve erkem geldi. Erdem gelirken bakkaldan Aldi.
2

In [52]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(filter(lambda x: True if x >= 6 else False, number_list))  
print(result)

[6, 7, 8, 9, 10]

In [53]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))

125

In [55]:
mean = lambda x, y: (x+y)/2
print(mean(8, 10))

9.0

In [57]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

In [58]:
number_list = [1, 2, 3, 4]
result = map(lambda x:x**3, number_list)
print(list(result))

[1, 8, 27, 64]

In [64]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result= list(filter(lambda x: True if x % 2 else False, number_list))  

print(result)

[1, 3, 5, 7, 9]