### 1. Write a function to split a string and convert it into an array of words.

* Examples (Input -> Output):

* "Robin Singh" ==> ["Robin", "Singh"]

* "I love arrays they are my favorite" ==> ["I", "love", "arrays", "they", "are", "my", "favorite"]

In [18]:
def string_to_array(s):
        return s.split(" ")
string_to_array("hi, how are you?")

['hi,', 'how', 'are', 'you?']

### 2. our task is to find the first element of an array that is not consecutive.

1. By not consecutive we mean not exactly 1 larger than the previous element of the array.

2. E.g. If we have an array [1,2,3,4,6,7,8] then 1 then 2 then 3 then 4 are all consecutive but 6 is not, so that's the first non-consecutive number.

3. If the whole array is consecutive then return null2.

4. The array will always have at least 2 elements1 and all elements will be numbers. The numbers will also all be unique and in ascending order. The numbers could be positive or negative and the first non-consecutive could be either too!

5. If you like this Kata, maybe try this one next: https://www.codewars.com/kata/represent-array-of-numbers-as-ranges

6. 1 Can you write a solution that will return null2 for both [] and [ x ] though? (This is an empty array and one with a single number and is not tested for, but you can write your own example test. )

In [28]:
def first_non_consecutive(arr):
    for i in range(1,len(arr)):
        if arr[i-1] + 1 != arr[i]:
            return arr[i]
arr = [1, 2, 3, 4, 5, 6, 7, 9, 10]
first_non_consecutive(arr)

9

### 3. Given a number n, return the number of positive odd numbers below n, EASY!

* Examples (Input -> Output)

* 7  -> 3 (because odd numbers below 7 are [1, 3, 5])
* 15 -> 7 (because odd numbers below 15 are [1, 3, 5, 7, 9, 11, 13])

In [29]:
def odd_count(n):
    counter = 0
    for i in range(n):
        if i % 2:
            counter += 1
    return counter
odd_count(7)

3

In [35]:
def odd_count(n):
    return n // 2
     
odd_count(11)

5

### The goal of this exercise is to convert a string to a new string where each character in the new string is "(" if that character appears only once in the original string, or ")" if that character appears more than once in the original string. Ignore capitalization when determining if a character is a duplicate.

### Examples

* "din"      =>  "((("
* "recede"   =>  "()()()"
* "Success"  =>  ")())())"
* "(( @"     =>  "))((" 
* Notes

#### Assertion messages may be unclear about what they display in some languages. If you read "...It Should encode XXX", the "XXX" is the expected result, not the input!

In [56]:
def duplicate_encode(word):
    counter = 0
    word_1 = word.lower()
    for i in word_1:
        if word_1.count(i) >= 2:
           print(')', end = '')
        else:
            print('(', end = '')
    return 
            
duplicate_encode("selamm")

(((())

In [54]:
def duplicate_encode(word):
    word_1 = word.lower()
    return ( "".join(')' if word_1.count(i) >= 2 else '(' for i in word_1) )
    
duplicate_encode("selamm")

'(((())'